@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin text-gradient($col1, $col2) {
    // Apply gradient, clip gradient to text, hide text
    background-image: linear-gradient(to right, $col1, $col2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    // Only go as far as needed
    display: inline-block;
}

@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Media query manager
/*
0   -   600px:      Phone
600 -   900px:      Tablet Portrait
900 -   1200px:     Tablet Landscape
1200 -  1800px:     [Normal styles in our desktop-first approach]
1800+:              Big desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/


/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desk
*/
@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px = 37.5rem
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px = 56.25
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75rem) { @content }; // 1200px = 75rem
    }
    @if $breakpoint == normal-desk {
        @media only screen and (max-width: 87.5rem) { @content }; // 1400px = 75rem
    }
    @if $breakpoint == big-desk {
        @media only screen and (min-width: 112.5rem) { @content }; // 1800px = 112.5rem
    }

}